.home-page{
    background-image: url(../img/1.png);
    background-size: cover;
    background-position-x: -300px;
    width: 100%;
    height: calc(100vh - 10px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-page .content{
    width: 90%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto;
}

.title{
    color: white;
    text-align: center;
    margin-top: 150px;
}
.title h1{
    font-size: 40px;
    margin-bottom: 0;
    letter-spacing: 3px;
}

.title p{
    font-size: 20px;
    letter-spacing: 4px;
    margin-top: 5px;
}

.search-home {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
}

.search-home input{
    width: 230px;
    height: 25px;
    background-color: white;
    color: black;
    font-size: 14px;
    padding: 10px 15px;
    margin: auto;
    letter-spacing: 1px;
    text-align: center;
    cursor: pointer;
    border: none;
}

.search-home button{
    color: white;
    background-color: rgb(86, 142, 245);
    font-size: 14px;
    width: 150px;
    height: 50px;
    margin: auto;
    margin-top: 25px;
    border: none;
    font-family: 'Aleo', serif;
    letter-spacing: 3px;
    display: flex;
    padding-left: 30px;
    align-items: center;
}

.search-home button:hover{
    cursor: pointer;
    transform: scale(1.1);
    filter: brightness(1.2);
}

.search-home button:focus{
    cursor: pointer;
    transform: scale(1.1);
    filter: brightness(1.2);
}

.search-home button img{
    height: 25px;
    margin-left: 10px;
    filter: brightness(0) invert(1);
}

.scroll{
    margin-top: 10vh;
    
}

.scroll:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.scroll a{
    color: white;
    font-size: 14px;
    letter-spacing: 3px;
    text-align: center;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.scroll img{
    transform: rotate(-90deg);
    height: 40px;
    filter: brightness(0) invert(1);
}

.header {
    background-color: rgb(86, 142, 245);
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
}

header .cont-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    height: 60px;
}

.logo {
    font-size: 18px;
    padding-left: 30px;
    text-decoration: none;
    color: white;
}

.logo:hover{
    cursor: pointer;
}

.menu-wrap i{
    width: 25px;
    height: 25px;
    font-size: 30px;
    color: white;
    position: fixed;
    bottom: 22px;
    right: 30px;
}

#burger{
    display: none;
}

[for="burger"] {
    display: block;
    position: absolute;
    right: 0;
    padding-right: 30px;
    bottom: 0;
    padding-bottom: 15px;
    cursor: pointer;
    z-index: 3;
}
nav.navbar ul {
    flex-direction: column;
    align-items: center; 
    position: fixed;
    z-index: 2;
    background-color: rgba(86, 142, 245, 0.856);
    top: -100%;
    left: 0;
    width: 100%;
    height: 100vh;
    transition: all 0.6s ease;
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0;
    padding-left: 0;
}

nav.navbar ul li{
    padding: 25px;
}

nav.navbar ul li a.nav-element {
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-family: 'Aleo', serif;
    padding-bottom: 10px;
}
nav.navbar ul li a.nav-element.active,
a.nav-element:hover {
    border-bottom: 5px solid white;
}
#burger:checked~.navbar ul {
    top: 0;
}
#burger:checked~[for="burger"] {
    color: white;
}

@media (min-width:820px){
        .home-page{
            background-position-x: 0;
        }
        
        .home-page .content{
            width: 90%;
            height: 60vh;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            margin: auto;
        }
        
        .title{
            margin-top: 0;
        }
        .title h1{
            font-size: 50px;
        }
        
        .title p{
            font-size: 20px;
            letter-spacing: 8px;
            margin-top: 0;
        }
        
        .search-home {
            display: flex;
            flex-direction: row;
            margin-left: auto;
            margin-right: auto;
            justify-content: center;
            width: 100%;
            margin-top: 50px;
        }
        
        .search-home input{
            width: 400px;
            height: 30px;
            background-color: white;
            color: black;
            font-size: 14px;
            padding: 10px 30px;
            margin: 0;
            letter-spacing: 1px;
            text-align: center;
        }
        
        .search-home button{
            color: white;
            background-color: rgb(86, 142, 245);
            font-size: 14px;
            width: 160px;
            height: 50px;
            margin: 0;
            margin-top: 0;
            border: 3px solid white;
            letter-spacing: 3px;
            display: flex;
            padding-left: 30px;
            align-items: center;
        }
        
        .search-home button img{
            height: 30px;
            margin-left: 10px;
        }
        
        .header {
            height: 60px;
            align-items: center;
            display: flex;
            justify-content: center;
        }
        
        .header .cont-menu {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            height: 50px;
            width: 700px;
        }
        
        .logo {
            font-size: 22px;
            padding-left: 0;
        }
    
        [for="burger"]{
            display: none;
        }
    
        .menu-wrap{
            height: 60px;
            width: fit-content;
        }
        
        nav.navbar ul {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            align-content: center;
            list-style: none;
            padding-left: 0;
        
        position: relative;
        z-index: 0;
        background-color: rgb(86, 142, 245);
        top: 0;
        left: 0;
        width: 100%;
        height: 60px;
        transition: all 0.6s ease;
        list-style: none;
        text-align: center;
        margin-top: 0;
        }
        
        nav.navbar ul li {
            padding: 20px 8px;
            margin: 0 5px;
            text-transform: uppercase;
            color: white;
            background-color: rgb(86, 142, 245);
        }
    
        nav.navbar ul li:last-child{
            padding-right: 0px;
        }
    
        nav.navbar ul li:hover{
            filter: brightness(1.2);
        }
        
        nav.navbar ul li a.nav-element {
            font-size: 14px;
            text-decoration: none;
            color: inherit;
        }
        
        nav.tnavbar ul li a.nav-element.active,
        a.nav-element:hover {
            border-bottom: 2px solid var(--accent-dark);
            transition: all 0.4s;
        }
        
    }

@media (min-width:1020px){
    
    .header .cont-menu {
        width: 900px;
    }
    
}